@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Fondamento:400italic,400);

html, body{
	height: 100%;
	margin: 0;
	font-family: 'Fondamento', cursive;
	overflow-y: hidden;
	color: #fff;
	font-size: 20px;
}


header{
	height: 15%;
	min-height: 140px;
	min-width: 700px;
	padding-left: 5%;
	padding-top: 30px;
	background-image: url("../imgs/back1.jpg");
 	background-repeat: repeat;
 	/*background-color: #444;*/	
}

	header h2{
		margin: 0;
		font-family: 'Fugaz One', cursive;
		word-spacing: 10px;
		color: #222;
		font-size: 50pt;
		text-shadow: -1px 0 #DCDCDC, 0 1px #DCDCDC, 1px 0 #DCDCDC, 0 -1px #DCDCDC;
	}

	header p{
		margin: 0;
		font-size: 15pt;
		color: white;
		padding-left: 40px;
	}


section{
	display: table;
	height: 85%;
	width: 100%;
}

#user-request{
	background-color: #1CBABC;
}

#suggestion{
	background-color: #e3483e;
}

article{
	width: 50%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

form{
	width: 27em;
	margin: 0 auto;
	font-size: 30px;
	text-align: left;
}

.row{
	height: 80px;
	border-bottom: 1px solid #666;
	padding-top: 15px;
}

	.row#bottom{
		border-bottom: none;
	}

input, button, select{
	border: none;
	font-size: 30pt;
	padding: 10px;
}

form label{
	display:inline-block;
	float: left;
	width: 300px;
	padding: 17.5px 0;
}

form #submit{
	margin-left: 300px;
	background-color: #e3483e;
	color: white;
	cursor: pointer;
}